* {
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

nav {
    margin: 10px;
    
}

h1 {
    color: rgb(0, 106, 255);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 80vh;
    width: 30vw;

    background-color: rgb(0, 106, 255);

    border-radius: 15px;
    
    #formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 10vh;
    width: 100%;

        #inputVille {
            width: 70%;
            margin: 5px;
            padding: 10px;
        }

        #boutonRecherche {
            width: 30%;
            margin: 5px;
            padding: 8px;
        }
    }

    #resultat {
        
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        color: white;
        font-size: 110%;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            height: 11vh;
            margin: 5px;
        }
    }
}






